/***************************************************************/
/*****General rules: Padding, margings, color and font-size*****/
/***************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(132, 114, 150);
  color: rgb(63, 61, 61);
  font-family: "poppins", "Segoe UI", Tahoma, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  width: 1140px;
  margin: 0 auto;
}

/***************************************************************/
/*****   Headern Session:   *****/
/***************************************************************/
header {
  background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)),
    url(/images/hero-pic.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.hero-session {
  position: absolute;
  padding-top: 30px;
  padding-left: 30%;
}

/***************************************************************/
/*****       Navbar:   *****/
/***************************************************************/

.navbar-session {
  text-decoration: none;
  color: black;
  display: inline;
  float: right;
}

/***************************************************************/
/*****   Typography:   *****/
/***************************************************************/
span {
  color: rgb(247, 140, 18);
}

h1 {
  margin: 0;
  color: #e7dfdb;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 2px;
  font-size: 200%;
}

/***************************************************************/
/*****Buttons*****/
/***************************************************************/
a.btn {
  background-color: rgb(247, 140, 18);
  border-collapse: collapse;
  border-radius: 6px;
  border: solid 1px rgb(175, 160, 160);
  color: #fff;
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  list-style: outside none none;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  width: 150px;
  word-wrap: break-word;
  margin-right: 10px;
}

.btn:hover {
  background-color: rgb(172, 69, 51);
}

/***************************************************************/
/*****Logo*****/
/***************************************************************/

.logo {
  width: 50px;
  background-color: white;
  margin: 10px 0 0 5px;
  padding: 5px;
}
